/* ==================== Table Review Product Css Start ========================= */
.review-product {
    &__thumb {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
    }
}
/* ==================== Table Review Product Css End ========================= */