/* ========================= Statement Section Css start =========================== */
.statement-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ========================= Statement Section Css End =========================== */