/* =========================== Product Css Start ========================== */
.product-item {
    border-radius: 8px;
    background-color: hsl(var(--white));
    overflow: hidden;
    transition: .2s linear;
    @media (min-width: 424px) and (max-width: 575px) {
        display: flex;
    }
    &.overlay-none {
        .product-item__thumb {
            &::before {
                display: none;
            }
        }
    }
    &:hover {
        box-shadow: 0px 20px 30px 0px rgba(197, 196, 201, 0.25);
        .product-item {
            &__thumb {
                &::before {
                    height: 100%;
                    visibility: visible;
                    opacity: 1;
                    z-index: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__thumb {
        margin: 8px;
        border-radius: inherit;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;
        @media (min-width: 575px) {
            max-height: 156px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 0%;
            left: 0;
            bottom: 0;
            border-radius: 8px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 4, 37, 0.50) 69.5%, rgba(0, 4, 37, 0.50) 100%);
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            transition: .2s linear;
        }
        img {
            transition: .2s linear;
        }
    }
    &__wishlist {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        background-color: hsl(var(--white)/.5);
        backdrop-filter: blur(5px);
        color: hsl(var(--black));
        z-index: 2;
        transition: .2s linear;
        &:active {
            transform: scale(1.15);
        }
        &.style-two {
            position: relative;
            top: 0;
            right: 0;
            background-color: hsl(var(--section-bg));
            width: 32px;
            height: 32px;
            @include font-12; 
            &:hover {
                background-color: hsl(var(--black));
                color: hsl(var(--white));
            }
        }
        &:hover {
            background-color: hsl(var(--white));
        }
        &.active {
            background-color: hsl(var(--black));
            color: hsl(var(--white));
        }
    }
    &__content {
        padding: 24px 16px;
        padding-top: 16px;
    }
    &__title {
        margin-bottom: 8px;
        text-transform: capitalize; 
        font-weight: 600;
        .link {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    &__info {

    }
    &__author {
        @include font-14; 
        font-weight: 400;
        color: hsl(var(--black-three));
        .link {
            color: inherit; 
        }
    }
    &__price {

    }
    &__prevPrice {
        @include font-14; 
        font-weight: 400;
        color: hsl(var(--gray-three));
    }
    &__bottom {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid hsl(var(--gray-five));
        @include sm-screen {
            margin-top: 8px;
            padding-top: 8px;
        }
    }
    &__sales {

    }
}

.download-icon {
    &:hover {
        .icon {
            .dark-version {
                display: block !important;
            }
            .white-version {
                display: none !important;
            }
        }
    }
}

/* Author Css Start */
.author-info {
    &__thumb {
        width: 114px;
        height: 114px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: hsl(var(--white));
        position: relative;
        z-index: 1;
        &::before {
            position: absolute;
            content: "";
            width: 80px;
            height: 80px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: hsl(var(--section-bg));
            z-index: -1;
            border-radius: inherit;
        }
    }
}
/* Author Css End */
/* =========================== Product Css End ========================== */